#about {
  @include flex(column, center, flex-start);
  flex-wrap: wrap;

  font-size: $text;
  color: $text-color;

  h1 {
    font-size: $big-text;
    color: whitesmoke;
    letter-spacing: 0.5rem;
    margin: 5rem 0rem;
  }

  p {
    font-size: $text;
    text-align: justify;
    line-height: 3.5rem;
    margin: 1rem 0rem;
  }
}

@media screen and (max-width: 1000px) {
  #about {
    justify-content: center;
    align-items: center;

    h1 {
      font-size: calc(5rem + 1vw);
      text-align: center;
      letter-spacing: 0rem;
    }

    p {
      text-align: left;
      font-size: calc(1.5rem + 1vw);
      line-height: 3rem;
    }
  }
}
