// Main Page earth animation
.home-earth {
  position: absolute;
  animation: earth 60s linear infinite;
  transform-origin: center;
  right: 120px;
  top: 325px;
}

#earth {
  animation: earth 90s linear infinite;
  transform-origin: center;
}

#earth-moon {
  animation: earth 15s linear infinite;
  transform-origin: center;
}
// Animation Keyframes

.home-moon {
  position: absolute;
}

@keyframes earth {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

//Scroll Animation

#scroll-wheel {
  animation: scroll 1s linear infinite alternate;
}

@keyframes scroll {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}

//Star Animations
