// Global Styling

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgba(0, 0, 0, 0.975);
  color: whitesmoke;
  font-family: sans-serif;
  width: 90%;
  margin: auto;
}

li {
  list-style: none;
  @include flex(row, center, center);

  svg {
    margin: 0rem 1rem;
  }
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: $text;

  &:hover {
    color: $special-color;
  }
}

p {
  font-size: $text;
}

h1 {
  font-size: $big-text;
}

h2 {
  font-size: $header2;
  font-weight: lighter;
}

h4 {
  font-size: $header4;
  font-weight: lighter;
}

.sub-head {
  @include flex(row, center, center);
  margin: 5rem;
}

#home,
#projects,
#about,
#contact {
  min-height: 100vh;
}
