// Global Styling

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  background: rgba(0, 0, 0, 0.975);
  color: whitesmoke;
  font-family: sans-serif;
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: whitesmoke;

  &:hover {
    color: $special-color;
  }
}
