*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    //overflow: hidden;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

li{
    list-style: none;
}