//Header Element -------------------------------------------

.home-header {
  @include flex(row, center, center);
  flex-wrap: wrap;
  min-height: 10vh;
  min-width: 100%;
  font-size: $text;
}

// Nav

.home-nav {
  @include flex(row, flex-start, center);
  flex: 1 1 40rem;
  height: 100%;
}

.home-links {
  @include flex(row, flex-end, center);
  flex: 1 1 40rem;
  height: 100%;
}

.home-nav ul,
.home-links ul {
  @include flex(row, center, center);
}

.home-nav li,
.home-links li {
  margin: 0rem 2rem;
  list-style: none;
  cursor: pointer;
}

.home-nav a,
.home-links a {
  color: whitesmoke;
  text-decoration: none;

  &:hover {
    color: $special-color;
  }
}

//Burger Menu
.menu-check {
  display: none;
}

// Main Body -------------------------------------------
.home-main {
  @include flex(row, center, center);
  min-height: 85vh;
  width: 100%;
  color: $text-color;
}
// Main Left Text
.home-head {
  @include flex(column, center, flex-start);
  flex: 3 1 40rem;
  height: 100%;
}

.home-head h1 {
  font-size: $big-text;
  margin: 2rem 0rem;
  letter-spacing: 0.5rem;
  color: whitesmoke;
}

.home-head h2 {
  font-size: $header2;
}

.home-head h3 {
  font-size: $header2;
  margin: 2rem 0rem;
}

.home-head a {
  text-decoration: none;
  color: whitesmoke;

  &:hover {
    color: $special-color;
  }
}

// Main Right Image

// Footer Element

.home-footer {
  @include flex(row, center, center);
  font-size: $header4;

  a {
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: $special-color;
    }
  }
}

// Scroll animation

// Media Queries for tablets

@media screen and (max-width: 1200px) {
  // Home Page
  .home-header {
    font-size: calc(1.5rem + 1vw);
    svg {
      display: none;
    }
  }

  .home-head {
    h1 {
      font-size: calc(5rem + 1vw);
    }

    h2 {
      font-size: calc(2rem + 1vw);
    }

    a {
      font-size: calc(2rem + 1vw);
    }
  }

  .home-footer {
    font-size: calc(1.5rem + 1vw);
  }
}

// Media Queries for Phones

@media screen and (max-width: 1000px) {
  body {
    margin: none;
    width: 100%;
  }

  // Header Element
  home-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-nav,
  .home-links {
    justify-content: center;
    align-items: center;
    width: 100%;

    li {
      margin: 0.5rem 1rem;
    }
  }
  // Home Page

  .home-head {
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
    }
  }
  .home-image {
    display: none;
  }
  .home-footer {
    justify-content: center;
    align-items: center;
  }

  // Earth Animation
  .home-earth {
    display: none;
  }
}
