// Header Element

header {
  @include flex(row, center, center);
  min-height: 10vh;
}

.main-nav {
  @include flex(row, flex-start, center);
  flex: 2 1 30rem;
}

.main-nav li {
  margin: 0rem 2rem;
}

.home-nav {
  @include flex(row, flex-end, center);
  flex: 1 1 30rem;
}

.home-nav li {
  margin: 0rem 2rem;
}

// Body Element

.landing-page {
  @include flex(column, center, center);
  min-height: 85vh;

  h1 {
    letter-spacing: 1rem;
    margin: 3rem;
  }

  ul {
    @include flex(row, center, center);

    li {
      margin: 3rem 5rem;
    }
  }
}

//Footer Element

footer {
  opacity: 0.75;
  min-height: 5vh;
  @include flex(row, center, center);
}
