// Projects Header
#projects {
  h1 {
    font-size: $big-text;
    margin: 5rem 0rem;
    letter-spacing: 0.5rem;
  }

  h2 {
    font-size: $text;
    margin: 2rem 0rem;
    color: $text-color;
  }
}
// Main Projects Template ---------------------------------

.projects-main {
  @include flex(row, center, center);
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;

  h3 {
    font-size: $header2;
    margin: 1rem 0rem;
    font-weight: lighter;
  }

  h4 {
    font-size: $text;
    margin-right: 2rem;
  }

  p {
    color: $text-color;
    line-height: 3.5rem;
    text-align: justify;
  }
}

.projects-main-display {
  @include flex(column, center, flex-start);
  flex: 1 1 30rem;
  img {
    width: 95%;
    height: 100%;
    object-fit: cover;
  }
}

.projects-description {
  @include flex(column, center, flex-start);
  flex: 1 1 30rem;
  min-height: 100%;
}

.projects-description-1 {
  @include flex(row, center, center);

  a {
    margin: 2rem;
    padding: 1rem;
    text-decoration: none;
    font-size: $text;
    color: whitesmoke;
    border: 3px solid whitesmoke;

    &:hover {
      color: $special-color;
      border-color: $special-color;
    }
  }
}
.projects-description-2 {
  font-size: $text;
  font-weight: lighter;
}

@media screen and (max-width: 1000px) {
  // Projects Page
  #projects {
    h1 {
      font-size: calc(5rem + 1vw);
      text-align: center;
      letter-spacing: 0rem;
    }

    h2 {
      font-size: calc(1.5rem + 1vw);
      text-align: center;
    }

    h3 {
      font-size: calc(2rem + 1vw);
    }

    h4 {
      font-size: calc(1.5rem + 1vw);
    }

    p {
      font-size: calc(1.5rem + 1vw);
    }

    a {
      font-size: calc(1rem + 1vw);
    }
  }

  .projects-main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0rem;

    h4 {
      margin: 0rem;
    }
  }

  .projects-main-display {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .projects-description {
    justify-content: center;
    align-items: center;
  }

  .projects-description-1 {
    justify-content: center;
    align-items: center;

    a {
      margin: 1rem;
    }
  }

  .projects-description-2 {
    p {
      text-align: left;
      line-height: 3rem;
    }
  }
}
