* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgba(0, 0, 0, 0.975);
  color: whitesmoke;
  font-family: sans-serif;
  width: 90%;
  margin: auto;
}

.home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 10vh;
  min-width: 100%;
  font-size: 2rem;
}

.home-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  height: 100%;
}

.home-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  height: 100%;
}

.home-nav ul,
.home-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-nav li,
.home-links li {
  margin: 0rem 2rem;
  list-style: none;
  cursor: pointer;
}

.home-nav a,
.home-links a {
  color: whitesmoke;
  text-decoration: none;
}

.home-nav a:hover,
.home-links a:hover {
  color: #2c8bcf;
}

.home-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 85vh;
  width: 100%;
  color: #c4c4c4;
}

.home-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  height: 100%;
}

.home-head h1 {
  font-size: 8rem;
  margin: 2rem 0rem;
  letter-spacing: 0.5rem;
  color: whitesmoke;
}

.home-head h2 {
  font-size: 2.5rem;
}

.home-head h3 {
  font-size: 2.5rem;
  margin: 2rem 0rem;
}

.home-head a {
  text-decoration: none;
  color: whitesmoke;
}

.home-head a:hover {
  color: #2c8bcf;
}

.home-image {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.home-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.home-footer a {
  text-decoration: none;
  color: #c4c4c4;
}

.home-footer a:hover {
  color: #2c8bcf;
}

@media screen and (max-width: 1200px) {
  .home-header {
    font-size: calc(1.5rem + 1vw);
  }
  .home-header svg {
    display: none;
  }
  .home-head h1 {
    font-size: calc(5rem + 1vw);
  }
  .home-head h2 {
    font-size: calc(2rem + 1vw);
  }
  .home-head a {
    font-size: calc(2rem + 1vw);
  }
  .home-footer {
    font-size: calc(1.5rem + 1vw);
  }
  #projects h1,
  #about h1,
  #contact h1 {
    font-size: calc(5rem + 1vw);
  }
  #projects h2,
  #about h2,
  #contact h2 {
    font-size: calc(2rem + 1vw);
  }
  .contact-form {
    min-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  body {
    margin: none;
    width: 100%;
  }
}

#projects h1 {
  font-size: 8rem;
  margin: 5rem 0rem;
  letter-spacing: 0.5rem;
}

#projects h2 {
  font-size: 2rem;
  margin: 2rem 0rem;
  color: #c4c4c4;
}

.projects-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
}

.projects-main h3 {
  font-size: 2.5rem;
  margin: 1rem 0rem;
  font-weight: lighter;
}

.projects-main h4 {
  font-size: 2rem;
  margin-right: 2rem;
}

.projects-main p {
  color: #c4c4c4;
  line-height: 3.5rem;
  text-align: justify;
}

.projects-main-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.projects-main-display img {
  width: 95%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  min-height: 100%;
}

.projects-description-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-description-1 a {
  margin: 2rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: whitesmoke;
  border: 3px solid whitesmoke;
}

.projects-description-1 a:hover {
  color: #2c8bcf;
  border-color: #2c8bcf;
}

.projects-description-2 {
  font-size: 2rem;
  font-weight: lighter;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
  color: #c4c4c4;
}

#about h1 {
  font-size: 8rem;
  color: whitesmoke;
  letter-spacing: 0.5rem;
  margin: 5rem 0rem;
}

#about p {
  font-size: 2rem;
  text-align: justify;
  line-height: 3.5rem;
  margin: 1rem 0rem;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contact h1 {
  font-size: 8rem;
  letter-spacing: 0.5rem;
  margin-top: 5rem;
  margin-bottom: 0rem;
}

.contact-form {
  margin: 10rem 0rem;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form form input {
  padding: 1rem 0rem;
  margin: 1rem 0rem;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid whitesmoke;
  color: whitesmoke;
  font-size: 2rem;
}

.contact-form form textarea {
  padding: 1rem 0rem;
  margin: 2rem 0rem;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid whitesmoke;
  color: whitesmoke;
  font-size: 2rem;
}

.contact-form form button {
  padding: 2rem 5rem;
  margin: 2rem 0rem;
  background: rgba(0, 0, 0, 0);
  border: 2px solid whitesmoke;
  color: whitesmoke;
  font-weight: bold;
  font-size: 2rem;
}

.contact-form form button:hover {
  background: #2c8bcf;
  color: black;
}
/*# sourceMappingURL=styles.css.map */