// Variables
$special-color: #8ea5eb;

// Mixins
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// Imports 

@import "global";
@import "home";